@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

/* General Reset */
body, h1, h2, p, a {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Work Sans', sans-serif;
    background-color: #ffedf6;
    color: #27233a;
}

/* Header */
header {
    background-color: #27233a;
    color: #ffedf6;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .navigation {
    text-decoration: none;
    color: #ffedf6;
    font-weight: bold;
}
header .title {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}
header nav {
    display: inline-block;
    margin-top: 10px;
}
header nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

#title {
    flex-direction: column;
    width: 50%;
    align-items: center;
}

/* Main Content */
main {
    padding: 20px;
}

/* Project Description */
.color-display {
    text-align: center;
    margin-bottom: 40px;
}
.project-description h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}
.project-description p {
    font-size: 1rem;
    line-height: 1.5;
}
.project-description a {
    color: #000;
    text-decoration: none;
    font-weight: bold;
}


